.blog-postss .submit-comment textarea {
    text-transform: none !important;
}

.fa-heart {
    color: red !important;
}
.empty-heart {
    color: #CDCDCD !important;
}

.btn-primary {
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

.errorlist {
    color: red !important;
    padding-bottom: 10px !important;
}

input, textarea {
    text-transform: none !important;
}